h1 {
    font-size: 29px;
    font-weight: 700;
    /* You can add more styling properties here, e.g., color, margin, etc. */
  }
  img {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  