<div class="content-main" fxLayout="column" fxLayoutAlign="start start">
    <div class="settings-card" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        
      <div class="filter-section" fxFlex="85" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <div class="input-container" fxLayout="column" fxLayoutAlign="center start">
          <mat-label class="lable-title">Choose a date</mat-label>
          <div fxLayout="row" fxLayoutAlign="start center" style="height: 25px;">
              <input class="input-content" [formControl]="progressDate" matInput [matDatepicker]="datepicker">
              <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
              </mat-datepicker>
          </div>
        </div>
      </div>

      <div class="action-section" fxFlex="15" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
        <div class="action-btn" fxLayout="row" fxLayoutAlign="center center" (click)="getTeamProgress()"><mat-icon>refresh</mat-icon></div>
      </div>

    </div>

    <div class="table-card">
        <table >
            <tr class="table-head">
                <td class="table-col">Name</td>
                <td class="table-col">Description</td>
                <td class="table-col">Is Active</td>
                <td class="table-col-last">Duration</td>
            </tr>

            <ng-container *ngFor="let progress of teamProgress">
                <tr>
                    <td class="table-col">{{progress.user.fName}} {{progress.user.lName}}</td>
                    <td class="table-col">{{progress.task.title}}</td>
                    <td class="table-col"><span *ngIf="progress.isActive">{{progress.isActive}}</span>
                      <span *ngIf="!progress.isActive">false</span></td>
                    <td class="table-col-last">{{progress.duration| dateDifference}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
</div>
